# we ignore files that are not required to push in git through this file

venv
__pycache__
classifier.xml
# Ignore all files in the temp folder
data/*

# But don't ignore the temp folder itself
!data/

# Ignore all files in the temp folder
attendance/*

# But don't ignore the temp folder itself
!attendance/